name: Generate GitHub Stats SVG

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl "https://github-readme-stats.vercel.app/api?username=Abdelrahman-Fathy-10&show_icons=true" \
          -o github-stats.svg

      - name: Commit SVG
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add github-stats.svg
          git commit -m "Update GitHub stats SVG" || exit 0
          git push
